@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, *:before, *:after{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.2rem;
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgba(19,21,25,1);
}

.feedback {
    background: linear-gradient( rgba(34,42,51,1), rgba(34,40,49,1));
    padding: 1.5rem;
    width: 300px;
    height: 350px;
    border-radius: 1.5rem;
}

.feedback__rating {
    display: grid;
    gap: 1.1rem;
}

.feedback__rating--hidden {
    display: none;
}

.feedback__rating::before {
    content: url(./images/icon-star.svg);
    background:  rgba(37,48,55,1);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center; /* don't really understand why this doesn't work */
    padding-top: 0.4em; /* hack, makes above work but won't scale */
    transform: scale(1); /* makes above scale, no idea */
}

.feedback__question {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.feedback__beg {
    color: hsl(217, 12%, 63%);
    padding-bottom: 0.5rem;
}

.feedback__options {
    display: flex;
    justify-content: space-between;
}

.feedback__option {
    background-color: rgba(37,48,55,1);
    border-radius: 50%;
    padding-top: 0.25em; /* space under the font descender, for this font + where we're baseline to ascender probably we want to shift down anyway */
    height: 2.5rem;
    width: 2.5rem;
    display:grid;
    place-items: center;
    color: hsl(217, 12%, 63%);
}

.feedback__option:hover {
    color: white;
    background-color: hsl(25, 97%, 53%);
}

.feedback__option--selected {
    color: white;
    background:  hsl(216, 12%, 54%);
}

.feedback__submit {
    display: block;
    background: hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    width: 100%;
    padding: 0.75rem;
    padding-top: 1rem;
    border-radius: 1.5rem;
}

.feedback__submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.feedback__answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feedback__answer::before {
    content: url(./images/illustration-thank-you.svg);
}

.feedback__answer--hidden {
    display: none;
}

.feedback__selection {
    color: hsl(25, 97%, 53%);
    background-color: rgba(37,48,55,1);
    padding: 0.5rem;
    padding-top: 0.7rem;
    border-radius: 1rem;
}

.feedback__thanks {
    margin-top: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.feedback__appreciation {
    color: hsl(217, 12%, 63%);
    text-align: center;
}