*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    background: hsl(217, 54%, 11%);
    height: 100vh;
}

.card {
    background: hsl(216, 50%, 16%);
    padding: 1.5rem;
    width: 300px;
    border-radius: 1em;
    display: grid;
    gap: 1em;
}

.card__hero {
    position: relative;
}

.card__hero:hover {
    cursor: pointer;
}

.card__hero::before 
{
    content: '\A';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  hsl(178, 100%, 50%);
    opacity: 0.5;
    border-radius: 0.5em;
    opacity: 0;
}

.card__hero::after 
{
    content: url(./images/icon-view.svg);
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    opacity: 0;
}

.card__hero:hover::before
{
    opacity: 0.5;
}

.card__hero:hover::after 
{
    opacity: 1;
}

.card__image {
    display: block;
    max-width: 100%;
    border-radius: 0.5em;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.card__title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card__blurb {
    line-height: 1.5em;
}

.card__vitals {
    display: flex;
    justify-content: space-between;
}

.card__price::before {
    content: url(./images/icon-ethereum.svg);
    padding-right: 0.25em;
    padding-top: 0.1em;
}

.card__price {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    display: flex;
}


.card__time::before {
    content: url(./images/icon-clock.svg);
    padding-right: 0.25em;
    padding-top: 0.1em;
}

.card__time {
    display: flex;
}

.card__accreditation {
    display: flex;
    align-items: center;
    gap: 0.75em;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: hsl(215, 32%, 27%);
    padding-top: 1em;
}

.card__avatar {
    width: 2em;
    height: 2em;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
}

.card__owner {
    color: white;
}

.card__owner:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}